---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    As a highly motivated machine learning enthusiast, my career objective is to pursue and further enhance my expertise in the field of artificial vision and generative models. I aspire to work with a team of experienced professionals, to develop innovative and advanced machine learning solutions that can solve complex real-world problems. My aim is to leverage my skills in machine learning and deep learning to create cutting-edge applications that can make a positive impact on society. I am committed to lifelong learning and eager to stay up-to-date with the latest advancements in this exciting field.
  </div>



  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="PhD Student"
      subtitle="From NOV 2023 to NOV 2026 at SisInfLab, Polytechnic University of Bari, Italy"
    >
    <ul class="list-disc md:columns-1 columns-1 mx-6">

      <li>My main research topic is Generative Models in high dimensional low sample size (HDLSS) domain.</li>I
  </ul>
      </TimeLineElement>
    <TimeLineElement
      title="Research Fellow"
      subtitle="From APR 2023 to NOV 2023 at SisInfLab, Bari, Italy"
    >
    <ul class="list-disc md:columns-1 columns-1 mx-6">
    <li>Implementation and development of 3D indoor scene generative model;</li>
    <li>Deployment Stable Diffusion fine-tuning training pipelines for generating custom images;</li>
    <li>Implementation of segmentation algorithms for the analysis of satellite and medical images;</li>
    </ul>
  </TimeLineElement>
    <TimeLineElement
      title="Research Intern"
      subtitle="From OCT 2022 to APR 2023 at SisInfLab, Bari, Italy"
    >
    <ul class="list-disc md:columns-1 columns-1 mx-6">
      <li>Customization of a state-of-the-art autoregressive transformer architecture for creating plausible synthetic indoor environments, given only the room type, its floor plan and a textual description of the furniture.</li>
    </ul>
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Master Degree in Computer Engineering"
      subtitle="2023 • Polytechnic University of Bari, Italy"
    />
    <TimeLineElement
      title=" Laurea Triennale in Ingegneria Informatica e dell’Automazione"
      subtitle="2019 • Polytechnic University of Bari, Italy"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="#" target="_blank"> Abilitazione all’esercizio della professione di Ingegnere dell’Informazione.</a>
    </li>
    <li>
      <a href="https://www.linkedin.com/in/danilodanese/#:~:text=49af%2D9642%2Dd26340ece999-,Mostra%20credenziale,-Abilitazione%20all%E2%80%99esercizio%20della" target="_blank"> Deep Learning with PyTorch for Medical Image Analysis</a>
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Courses</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6 mb-5">
    <li>Course Name</li>
    <li>Course Name</li>
  </ul>
</BaseLayout>
